In [9]:
import os
import pandas as pd

In [12]:
os.listdir("/Users/yutaro_ikeda/.kaggle/competitions/titanic")

['test.csv', 'train.csv', 'gender_submission.csv']

In [13]:
df = pd.read_csv("~/.kaggle/competitions/titanic/train.csv")

In [15]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# .format()

In [21]:
df[['Fare']].head()

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

In [20]:
df[['Fare']].head().style.format('${0:,.2f}')

# .hide_index()

In [23]:
df.head().style.hide_index()

# sparklines

In [5]:
import numpy as np
from sparklines import sparklines

def sparkline_(x):
    bins = np.histogram(x)[0]
    sl = ''.join(sparklines(bins))
    return sl

In [7]:
df.groupby('RAD')[['AGE', 'PRICE']].agg({'mean': "mean", 'hist': sparkline_})

/Users/yutaro_ikeda/.pyenv/versions/3.6.5/lib/python3.6/site-packages/pandas/core/groupby/groupby.py:4658: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

           mean                   hist
            AGE      PRICE         AGE       PRICE
RAD
1.0   45.025000  24.365000  ▂█▇▂▄▁▄▂▄▄  ▂▄█▄▂▄▁▁▁▂
2.0   64.770833  26.833333  ▂▁█▁▁▆▄▄▄▆  ▃▄█▂▃▂▄▁▂▃
3.0   49.310526  27.928947  ▃▄▁▃██▇▁▂▄  ▄█▆▆▃█▄▁▁▁
4.0   60.841818  21.387273  ▁▃▅▂▂▂▁▁▄█  ▁▄▆█▃▂▁▁▁▂
5.0   69.223478  25.706957  ▁▁▂▃▂▂▂▂▃█  ▃▄█▄▃▂▂▁▂▂
6.0   60.142308  20.976923  ▁▃▃▃▁▄▄█▆▄  ▁▁█▁▁▁█▄▄▁
7.0   40.141176  27.105882  █▆▁▃▄▃▁▃▆▄  ▄▄█▄▆▁▄▃▁▃
8.0   67.350000  30.358333  ▄▂▁▄▁▂██▇▇  ▄▅█▅█▁▂▂▂▅
24.0  89.805303  16.403788  ▁▁▁▁▁▁▂▃▃█  ▄█▆▅▂▂▁▁▁▂